/**
 * @package 	WordPress
 * @subpackage 	EcoNature
 * @version 	1.1.1
 * 
 * Theme Secondary Color Schemes Rules
 * Created by CMSMasters
 * 
 */


/***************** Start Header Color Scheme Rules ******************/

	/* Start Header Content Color */
	.header_mid,
	.header_bot, 
	.header_mid_inner .social_wrap a {
		color:#58cf90; color:rgba(88, 207, 144, 1);
	}
	/* Finish Header Content Color */
	
	
	/* Start Header Primary Color */
	.header_mid a,
	.header_mid h1 a:hover,
	.header_mid h2 a:hover,
	.header_mid h3 a:hover,
	.header_mid h4 a:hover,
	.header_mid h5 a:hover,
	.header_mid h6 a:hover,
	.header_mid .color_2,
	.header_bot a,
	.header_bot h1 a:hover,
	.header_bot h2 a:hover,
	.header_bot h3 a:hover,
	.header_bot h4 a:hover,
	.header_bot h5 a:hover,
	.header_bot h6 a:hover,
	.header_bot .color_2,
	.header_mid h1,
	.header_mid h2,
	.header_mid h3,
	.header_mid h4,
	.header_mid h5,
	.header_mid h6,
	.header_mid h1 a,
	.header_mid h2 a,
	.header_mid h3 a,
	.header_mid h4 a,
	.header_mid h5 a,
	.header_mid h6 a,
	.header_bot h1,
	.header_bot h2,
	.header_bot h3,
	.header_bot h4,
	.header_bot h5,
	.header_bot h6,
	.header_bot h1 a,
	.header_bot h2 a,
	.header_bot h3 a,
	.header_bot h4 a,
	.header_bot h5 a,
	.header_bot h6 a,
	#navigation > li > a,
	.header_mid_outer .header_mid_inner .search_wrap .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
	.header_mid_outer .header_mid_inner .search_wrap .search_bar_wrap button[type=submit][class*=" cmsms-icon-"],
	.header_mid_outer .header_mid_inner .search_wrap .search_but,
	.header_mid .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
	.header_mid .search_bar_wrap button[type=submit][class*=" cmsms-icon-"],
	.header_bot .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
	.header_bot .search_bar_wrap button[type=submit][class*=" cmsms-icon-"], 
	.header_mid_inner .social_wrap a:hover {
		color:#7e858c; color:rgba(126, 133, 140, 1);
	}
	
	.header_mid .cmsms_button,
	.header_mid .button:hover,
	.header_bot .cmsms_button,
	.header_bot .button:hover,
	.header_mid .button,
	.header_bot .button {
		background-color:#7e858c; background-color:rgba(126, 133, 140, 1);
	}
	
	.header_mid input[type=text]:focus,
	.header_mid input[type=email]:focus,
	.header_mid input[type=password]:focus,
	.header_mid textarea:focus,
	.header_top input[type=text]:focus,
	.header_top input[type=email]:focus,
	.header_top input[type=password]:focus,
	.header_top textarea:focus {
		border-color:#7e858c; border-color:rgba(126, 133, 140, 1);
	}
	/* Finish Header Primary Color */
	
	
	/* Start Header Rollover Color */
	.header_mid a:hover,
	.header_bot a:hover,
	#navigation > li > a:hover,
	#navigation > li.current-menu-item > a,
	#navigation > li.current_page_item > a,
	#navigation > li.current-menu-ancestor > a,
	#navigation > li.menu-item-highlight > a {
		color:#e3c820; color:rgba(227, 200, 32, 1);
	}
	
	@media only screen and (min-width: 1024px) {
		#navigation > li:hover > a {
			color:#e3c820; color:rgba(227, 200, 32, 1);
		}
	}
	/* Finish Header Rollover Color */
	
	
	/* Start Header Background Color */
	.header_mid .cmsms_button,
	.header_mid .cmsms_button:hover, 
	.header_bot .cmsms_button,
	.header_bot .cmsms_button:hover {
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	.header_mid input[type=text]:focus,
	.header_mid input[type=number]:focus,
	.header_mid input[type=email]:focus,
	.header_mid input[type=password]:focus,
	.header_mid textarea:focus,
	.header_bot input[type=text]:focus,
	.header_bot input[type=number]:focus,
	.header_bot input[type=email]:focus,
	.header_bot input[type=password]:focus,
	.header_bot textarea:focus,
	.header_mid_outer,
	.header_bot_outer,
	.header_mid_outer .header_mid_inner .search_wrap.search_opened .search_but {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Background Color */
	
	
	/* Start Header Rollover Background Color */
	#navigation > li > a:hover,
	#navigation > li.current-menu-item > a,
	#navigation > li.current_page_item > a,
	#navigation > li.current-menu-ancestor > a,
	#navigation > li > a > span.nav_bg_clr,
	#navigation > li.menu-item-highlight > a > span.nav_bg_clr {
		background-color:#3d3d3d; background-color:rgba(61, 61, 61, 0);
	}
	
	@media only screen and (min-width: 1024px) {
		#navigation > li:hover > a {
			background-color:#3d3d3d; background-color:rgba(61, 61, 61, 0);
		}
	}
	/* Finish Header Rollover Background Color */
	
	
	/* Start Header Borders Color */
	.header_mid input[type=text],
	.header_mid input[type=number],
	.header_mid input[type=email],
	.header_mid input[type=password],
	.header_mid input[type=submit],
	.header_mid button,
	.header_mid textarea,
	.header_mid select,
	.header_mid option,
	.header_bot input[type=text],
	.header_bot input[type=number],
	.header_bot input[type=email],
	.header_bot input[type=password],
	.header_bot input[type=submit],
	.header_bot button,
	.header_bot textarea,
	.header_bot select,
	.header_bot option,
	.header_mid_outer .header_mid_inner .search_wrap.search_opened .search_but,
	.header_mid .search_bar_wrap,
	.header_bot .search_bar_wrap, 
	#navigation li a {
		border-color:#ebebeb; border-color:rgba(235, 235, 235, 1);
	}
	
	.header_mid_outer,
	.header_bot_outer,
	.header_mid hr,
	.header_mid .cmsms_divider,
	.header_bot hr,
	.header_bot .cmsms_divider {
		border-bottom-color:#ebebeb; border-bottom-color:rgba(235, 235, 235, 1);
	}
	/* Finish Header Borders Color */
	
	
	/* Start Header Dropdown Link Color */
	.header_mid .button,
	.header_mid .button:hover, 
	.header_bot .button,
	.header_bot .button:hover, 
	#navigation ul li a {
		color:#7e858c; color:rgba(126, 133, 140, 1);
	}
	
	@media only screen and (max-width: 1024px) {
		#navigation > li > a {
			color:#7e858c; color:rgba(126, 133, 140, 1);
		}
	}
	/* Finish Header Dropdown Link Color */
	
	
	/* Start Header Dropdown Rollover Color */
	#navigation ul li > a:hover,
	#navigation ul li.current-menu-item > a,
	#navigation ul li.current_page_item > a,
	#navigation ul li.current-menu-ancestor > a,
	#navigation > li li.menu-item-highlight > a,
	#navigation > li li.menu-item-highlight > a:hover,
	#navigation > li.menu-item-mega li > a:hover,
	#navigation > li.menu-item-mega li.current-menu-ancestor > a,
	#navigation > li.menu-item-mega li li > a:hover,
	#navigation > li.menu-item-mega > ul > li > a,
	#navigation > li.menu-item-mega > ul > li > a:hover,
	#navigation > li.menu-item-mega > div.menu-item-mega-container li > a:hover,
	#navigation > li.menu-item-mega > div.menu-item-mega-container li.current-menu-item > a,
	#navigation > li.menu-item-mega > div.menu-item-mega-container li.current_page_item > a,
	#navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a,
	#navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a:hover,
	#navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a:hover,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a[href]:hover,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li > a:hover,
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a:hover {
		color:#e3c820; color:rgba(227, 200, 32, 1);
	}
	
	@media only screen and (max-width: 1024px) {
		#navigation > li > a:hover,
		#navigation > li.current-menu-item > a,
		#navigation > li.current_page_item > a,
		#navigation > li.current-menu-ancestor > a,
		#navigation > li.menu-item-highlight > a {
			color:#e3c820; color:rgba(227, 200, 32, 1);
		}
	}
	
	@media only screen and (min-width: 1024px) {
		#navigation ul li:hover > a,
		#navigation > li li.menu-item-highlight:hover > a,
		#navigation > li.menu-item-mega li:hover > a,
		#navigation > li.menu-item-mega > ul > li:hover > a,
		#navigation > li.menu-item-mega > div.menu-item-mega-container li:hover > a,
		#navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a,
		#navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a {
			color:#e3c820; color:rgba(227, 200, 32, 1);
		}
	}
	/* Finish Header Dropdown Rollover Color */
	
	
	/* Start Header Dropdown Background Color */
	.header_mid input[type=text],
	.header_mid input[type=number],
	.header_mid input[type=email],
	.header_mid input[type=password],
	.header_mid input[type=submit],
	.header_mid button,
	.header_mid textarea,
	.header_mid select,
	.header_mid option,
	.header_bot input[type=text],
	.header_bot input[type=number],
	.header_bot input[type=email],
	.header_bot input[type=password],
	.header_bot input[type=submit],
	.header_bot button,
	.header_bot textarea,
	.header_bot select,
	.header_bot option,
	#navigation ul,
	#navigation > li.menu-item-mega li > a:hover,
	#navigation > li.menu-item-mega > div.menu-item-mega-container {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	
	@media only screen and (max-width: 1024px) {
		#navigation {
			background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
		}
	}
	
	@media only screen and (min-width: 1024px) {
		#navigation > li.menu-item-mega li:hover > a {
			background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
		}
	}
	
	#navigation > li.menu-item-has-children > a:before,
	#navigation > li.menu-item-has-children > a > span.nav_bg_clr:before {
		border-bottom-color:#ffffff; border-bottom-color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Dropdown Background Color */
	
	
	/* Start Header Dropdown Rollover Background Color */
	#navigation ul li > a:hover,
	#navigation ul li.current-menu-item > a,
	#navigation ul li.current_page_item > a,
	#navigation ul li.current-menu-ancestor > a,
	#navigation > li.menu-item-mega li li:hover > a:hover,
	#navigation > li.menu-item-mega li li.current-menu-item > a,
	#navigation > li.menu-item-mega li li.current_page_item > a,
	.header_mid .search_bar_wrap,
	.header_mid .search_bar_wrap input[type=text],
	.header_mid .search_bar_wrap input[type=text]:focus,
	.header_bot .search_bar_wrap,
	.header_bot .search_bar_wrap input[type=text],
	.header_bot .search_bar_wrap input[type=text]:focus {
		background-color:#fbfbfb; background-color:rgba(251, 251, 251, 1);
	}
	
	@media only screen and (max-width: 1024px) {
		#navigation > li > a:hover,
		#navigation > li.current-menu-item > a,
		#navigation > li.current_page_item > a,
		#navigation > li.current-menu-ancestor > a,
		#navigation > li > a > span.nav_bg_clr,
		#navigation > li.menu-item-highlight > a > span.nav_bg_clr {
			background-color:#fbfbfb; background-color:rgba(251, 251, 251, 1);
		}
	}
	
	@media only screen and (min-width: 1024px) {
		#navigation ul li:hover > a {
			background-color:#fbfbfb; background-color:rgba(251, 251, 251, 1);
		}
	}
	/* Finish Header Dropdown Rollover Background Color */
	
	
	/* Start Header Dropdown Borders Color */
	#navigation > li.menu-item-mega > div.menu-item-mega-container > ul:after {
		background-color:#ebebeb; background-color:rgba(235, 235, 235, 1);
	}
	
	#navigation ul,
	#navigation > li.menu-item-mega > div.menu-item-mega-container {
		border-color:#ebebeb; border-color:rgba(235, 235, 235, 1);
	}
	
	@media only screen and (max-width: 1024px) {
		#navigation li a {
			border-color:#ebebeb; border-color:rgba(235, 235, 235, 1);
		}
		
		.header_mid_outer,
		.header_bot_outer {
			border-bottom-color:#ebebeb; border-bottom-color:rgba(235, 235, 235, 1);
		}
	}
	
	#navigation ul li,
	#navigation > li.menu-item-mega > div.menu-item-mega-container li li li:first-child {
		border-top-color:#ebebeb; border-top-color:rgba(235, 235, 235, 1);
	}
	/* Finish Header Dropdown Borders Color */
	
	
	/* Start Header Custom Rules */
	.header_mid ::selection,
	.header_bot ::selection {
		background:#7e858c; background:rgba(126, 133, 140, 1);
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	.header_mid ::-moz-selection,
	.header_bot ::-moz-selection {
		background:#7e858c; background:rgba(126, 133, 140, 1);
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	#page.fixed_header .header_mid_outer,
	#page.fixed_header .header_bot_outer {
		background-color:rgba(255, 255, 255, 1);
	}
	
	#navigation ul,
	#navigation > li.menu-item-mega > div.menu-item-mega-container {
		-webkit-box-shadow:0 5px 15px 0 rgba(255, 255, 255, 0.02);
		-moz-box-shadow:0 5px 15px 0 rgba(255, 255, 255, 0.02);
		box-shadow:0 5px 15px 0 rgba(255, 255, 255, 0.02);
	}
	
	/* Finish Header Custom Rules */

/***************** Finish Header Color Scheme Rules ******************/



/***************** Start Header Top Color Scheme Rules ******************/

	/* Start Header Top Content Color */
	.header_top,
	.header_top_outer .meta_wrap, 
	.header_top_inner .social_wrap a {
		color:#7e858c; color:rgba(126, 133, 140, 1);
	}
	/* Finish Header Top Content Color */
	
	
	/* Start Header Top Primary Color */
	.header_top a,
	.header_top .color_2,
	.header_top_outer nav > div > ul > li a,
	.header_top_outer .meta_wrap a,
	.header_top h1,
	.header_top h2,
	.header_top h3,
	.header_top h4,
	.header_top h5,
	.header_top h6,
	.header_top h1 a,
	.header_top h2 a,
	.header_top h3 a,
	.header_top h4 a,
	.header_top h5 a,
	.header_top h6 a,
	.header_top h1 a:hover,
	.header_top h2 a:hover,
	.header_top h3 a:hover,
	.header_top h4 a:hover,
	.header_top h5 a:hover,
	.header_top h6 a:hover,
	.header_top .search_bar_wrap button[type=submit][class^="cmsms-icon-"],
	.header_top .search_bar_wrap button[type=submit][class*=" cmsms-icon-"] {
		color:#7e858c; color:rgba(126, 133, 140, 1);
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li > a {
			color:#7e858c; color:rgba(126, 133, 140, 1);
		}
	}
	
	.header_top .cmsms_button,
	.header_top .button:hover,
	.header_top_outer nav > div > ul > li > a > span.cmsms_count,
	.header_top .button {
		background-color:#7e858c; background-color:rgba(126, 133, 140, 1);
	}
	
	.header_top input[type=text]:focus,
	.header_top input[type=number]:focus,
	.header_top input[type=email]:focus,
	.header_top input[type=password]:focus,
	.header_top textarea:focus {
		border-color:#7e858c; border-color:rgba(126, 133, 140, 1);
	}
	/* Finish Header Top Primary Color */
	
	
	/* Start Header Top Rollover Color */
	.header_top a:hover,
	.header_top_outer nav > div > ul > li:hover > a,
	.header_top_outer nav > div > ul > li.current-menu-item > a,
	.header_top_outer nav > div > ul > li.current-menu-ancestor > a,
	.header_top_outer .meta_wrap a:hover, 
	.header_top_inner .social_wrap a:hover {
		color:#f9a01b; color:rgba(249, 160, 27, 1);
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li > a:hover, 
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li.current-menu-item > a {
			color:#f9a01b; color:rgba(249, 160, 27, 1);
		}
	}
	
	.header_top_but .cmsms_top_arrow, 
	.header_top_but .cmsms_bot_arrow {
		background-color:#f9a01b; background-color:rgba(249, 160, 27, 1);
	}
	
	.header_top_but .cmsms_top_arrow:before, 
	.header_top_but .cmsms_top_arrow:after, 
	.header_top_but .cmsms_top_arrow span:before, 
	.header_top_but .cmsms_top_arrow span:after, 
	.header_top_but .cmsms_bot_arrow:before, 
	.header_top_but .cmsms_bot_arrow:after, 
	.header_top_but .cmsms_bot_arrow span:before, 
	.header_top_but .cmsms_bot_arrow span:after {
		border-color:#f9a01b; border-color:rgba(249, 160, 27, 1);
	}
	/* Finish Header Top Rollover Color */
	
	
	/* Start Header Top Background Color */
	.header_top_outer nav > div > ul > li > a > span.cmsms_count,
	.header_top .cmsms_button,
	.header_top .cmsms_button:hover {
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	.header_top,
	.header_top input[type=text]:focus,
	.header_top input[type=number]:focus,
	.header_top input[type=email]:focus,
	.header_top input[type=password]:focus,
	.header_top textarea:focus,
	.header_top_outer {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Top Background Color */
	
	
	/* Start Header Top Borders Color */
	.header_top input[type=text],
	.header_top input[type=number],
	.header_top input[type=email],
	.header_top input[type=password],
	.header_top input[type=submit],
	.header_top button,
	.header_top textarea,
	.header_top select,
	.header_top option,
	.header_top .search_bar_wrap {
		border-color:#eaedf0; border-color:rgba(234, 237, 240, 1);
	}
	
	.header_top hr,
	.header_top .cmsms_divider {
		border-bottom-color:#eaedf0; border-bottom-color:rgba(234, 237, 240, 1);
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_left, 
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_right {
			border-bottom-color:#eaedf0; border-bottom-color:rgba(234, 237, 240, 1);
		}
		
		html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap nav #top_line_nav li > a {
			border-top-color:#eaedf0; border-top-color:rgba(234, 237, 240, 1);
		}
	}
	/* Finish Header Top Borders Color */
	
	
	/* Start Header Top Dropdown Link Color */
	.header_top_outer nav > div > ul > li a,
	.header_top_outer nav > div > ul > li ul li > a,
	.header_top .button,
	.header_top .button:hover, 
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav:hover, 
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav.active {
		color:#979ca4; color:rgba(151, 156, 164, 1);
	}
	
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav {
		background-color:#979ca4; background-color:rgba(151, 156, 164, 1);
	}
	/* Finish Header Top Dropdown Link Color */
	
	
	/* Start Header Top Dropdown Rollover Color */
	.header_top_outer nav > div > ul > li ul li:hover > a,
	.header_top_outer nav > div > ul > li ul li.current-menu-item > a,
	.header_top_outer nav > div > ul > li ul li.current-menu-ancestor > a, 
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav {
		color:#f9a01b; color:rgba(249, 160, 27, 1);
	}
	/* Finish Header Top Dropdown Rollover Color */
	
	
	/* Start Header Top Dropdown Background Color */
	.header_top input[type=text],
	.header_top input[type=number],
	.header_top input[type=email],
	.header_top input[type=password],
	.header_top input[type=submit],
	.header_top button,
	.header_top textarea,
	.header_top select,
	.header_top option,
	.header_top_outer nav > div > ul > li ul,
	.header_top .search_bar_wrap,
	.header_top .search_bar_wrap input[type=text],
	.header_top .search_bar_wrap input[type=text]:focus {
		background-color:#ffffff; background-color:rgba(255, 255, 255, 1);
	}
	/* Finish Header Top Dropdown Background Color */
	
	
	/* Start Header Top Dropdown Border Color */
	
	.header_top_outer nav > div > ul > li.menu-item-has-children > a:before {
		border-bottom-color:#e5e8ec; border-bottom-color:rgba(229, 232, 236, 1);
	}
	
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav:hover, 
	html #page #header .header_top .header_top_outer .header_top_inner .header_top_right .nav_wrap .responsive_top_nav.active {
		background-color:#e5e8ec; background-color:rgba(229, 232, 236, 1);
	}
	/* Finish Header Top Dropdown Border Color */
	
	
	/* Start Header Top Custom Rules */
	.header_top ::selection {
		background:#7e858c; background:rgba(126, 133, 140, 1);
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	.header_top ::-moz-selection {
		background:#7e858c; background:rgba(126, 133, 140, 1);
		color:#ffffff; color:rgba(255, 255, 255, 1);
	}
	
	.header_top_outer {
		-webkit-box-shadow:inset 0 -1px 0 0 rgba(234, 237, 240, 1);
		-moz-box-shadow:inset 0 -1px 0 0 rgba(234, 237, 240, 1);
		box-shadow:inset 0 -1px 0 0 rgba(234, 237, 240, 1);
	}
	
	.header_top_outer nav > div > ul > li ul {
		-webkit-box-shadow:0 0 2px 0 rgba(234, 237, 240, 0.8);
		-moz-box-shadow:0 0 2px 0 rgba(234, 237, 240, 0.8);
		box-shadow:0 0 2px 0 rgba(234, 237, 240, 0.8);
	}
	
	/* Finish Header Top Custom Rules */

/***************** Finish Header Top Color Scheme Rules ******************/

